body * {
    font-family: Arial;
    font-size: medium;
}
.account-nav{
    list-style: none; 
    width: 170px;
    background-color: white;
    height: 100vh;
    margin: 0px;        
    padding: 0px;     
}
.account-nav li{
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow-wrap: break-word;
    white-space: normal;
}
.account-nav li a{
    text-decoration: none;
    color: #c11515;
    overflow-wrap: break-word;
    white-space: normal;
}

.account-nav li.active{
    border-left: 3px solid black;
    font-weight: 550;
}
.account-nav li.active a{
    color: black
}
.account-nav li :hover{
    text-decoration: underline;
}