.wd-home-header-icon {
    width: 50px;
}

.wd-course-content {
    display: flex;
    margin-left: 10px;
}

.wd-course-module-content {
    width: 85%;
}

.wd-course-status {
    flex: 1;
    margin-top: 20px;
    margin-left: 20px;
}

.wd-course-status h2 {
    font-weight: 500;
    font-size: larger;
}

.wd-course-status-actions a {
    width: 240px;
    text-align: left;
    margin-bottom: 5px;
}

.wd-course-status-todo {
    width: 240px;
    margin-top: 20px;
}

.wd-course-status a.wd-course-status-list-item{
    border: transparent;
}


.wd-course-status-list-item {
    border: transparent;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    color: #c11515;
    text-decoration: none;
    margin-bottom: 10px;

}



.wd-course-status-list-item>div :nth-child(2) {
    color: #c11515;
    font-size: medium;
    margin-left: 5px;
    white-space: nowrap;      
    overflow: hidden;        
    text-overflow: ellipsis; 
    max-width: 200px;
}

.list-group>a>small {
    font-size: x-small;
    color: gray;
    margin-left: 20px;
    text-wrap: wrap;
    margin-top: 0px;
}

.wd-course-status-upcoming {
    width: 240px;
    margin-top: 20px;
}
.wd-corse-status-upcoming-header> :nth-child(2){
    flex: 1;
    justify-content: right;
    text-align: right;
}


.wd-course-status-list-item:hover {
    text-decoration: underline;
    color:#c11515;
}


.wd-course-body {
    display: flex;
    flex: 1;
    margin-left: 100px;
    margin-top: 10px;
}

.wd-course-module-content{
    margin-left: 180px;
}
.wd-course-hidden-menu{
    height:65px;
    background-color: black;
    margin-bottom: 20px;
}
.wd-course-hidden-menu ul.list-group li{
    color: black;
}

.wd-course-hidden-menu .d-inline-flex {

    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}
.wd-course-hidden-menu-text{
    text-align: center;
    color: white;
}

.wd-home-knav li{
    border: transparent;
    margin-bottom: 15px;
    margin-left: 15px;
}
.wd-home-knav li a{
    text-decoration: none;
    color: #c11515;
}
.wd-home-knav li a:hover{
   text-decoration: underline;
}
.wd-course-home-sub-nav ul.wd-sub-nav{
    margin-left: 0px;
}
@media (max-width: 768px) { 
    .wd-course-module-content{
        margin-left: 0px;
        width: 100%;
    }
    .wd-course-body{
        margin-left: 10px;
    }
}
