.wd-dashboard-body div.card{
    width: 250px;
    height: 300px;
}
.wd-dashboard-body{
    margin-left: 3%;
    flex:1;
}
.wd-dashboard-body div.card-footer{
    border:0;
    background-color:white;
}
.wd-dashboard-body div.card-footer i:hover{
    color: #c11515;
}
.wd-dashboard-body div.row{
    width: 80%;
}
.wd-dashboard-body div.col{
    width: 300px;
}

.card-title{
    font-weight: 550;
    font-size: medium;
}
.card-body a{
    text-decoration: none;
}
.card-body a:hover{
    text-decoration: underline;
}

.card-footer a svg{
    height: 2em;
    width: 20px;
}
.card-footer a svg:hover{
   color: #c11515;
}