.wd-edit-assignment-content {
    width: 100%;
}

.wd-edit-assignment-content div span {
    font-weight: 550;
    margin-left: 10px;
}
.wd-assignment-detail div.card{
    width: 350px;
}
.wd-asign-label{
    font-weight: 550;
}


