.wd-general-header{
    padding-left: 20px;
    justify-content: left;
    text-align: left;
    padding-top: 20px;
    margin-left: 85px;
}
.wd-general-header i{
    margin-right: 50px;
}
.wd-general-header span{
    font-size: larger;
}
.wd-general-content{
    flex: 0.99;
}

.wd-general-content-body{
    display: flex;
    flex: 1;
    margin-left: 10px;
}

.wd-general-content-body > :nth-child(2) {
    margin-left: 280px;
}
.wd-flex{
    display: flex;
}
.wd-block{
    display: block;
}

.wd-color-red{
    color: #c11515;
}

.wd-no-text-deco{
    text-decoration: none;
}

.wd-hover-underline:hover{
    text-decoration: underline;
}

.wd-color-grey{
    color:#898b90;
}

.wd-color-green{
    color: #57a125;
}

.wd-color-black{
    color: #4a4b4e;
}

.wd-color-light-grey{
    color:#b7c1d1;
}
