body * {
    font-family: Arial;
    font-size: medium;
}
.wd-sub-nav{
    list-style: none; 
    width: 170px;
    background-color: white;      
    padding: 0px;  
    position: fixed;
}
.wd-sub-nav li{
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow-wrap: break-word;
    white-space: normal;
}
.wd-sub-nav li a{
    text-decoration: none;
    color: #c11515;
    overflow-wrap: break-word;
    white-space: normal;
}

.wd-sub-nav li.wd-tab-active{
    border-left: 3px solid black;
    font-weight: 550;
}
.wd-sub-nav li.wd-tab-active a{
    color: black
}
.wd-sub-nav li :hover{
    text-decoration: underline;
}